.font1 {
    /* Our Services */


    /* Body/14/Regular */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    color: #000000;

}

.font2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */


    color: #000000;
}

.font3 {
    /* Heading/24/Bold */

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */


}

.font4 {
    /* Body/14/Light */
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;
}

.frame {
    /* Frame 106 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 285px;
    height: 24px;
    left: 0px;
    top: 120px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 16px 0px;
}

.font6 {
    /* Mobil Lengkap */


    position: static;
    width: 113px;
    height: 24px;
    left: 24px;
    top: 72px;

    /* Title/16/Bold */

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.font7 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 6vmin;
    line-height: 150%;
    /* identical to box height, or 54px */

    text-align: center;

    /* Neutral/01 */

    color: #FFFFFF;
}

.font8 {
    /* Body/14/Light */

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    /* Neutral/01 */

    color: #FFFFFF;
}

.font9 {
    /* Heading/24/Bold */

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
}